* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, verdana, serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.grid {
    display: grid;
    grid-template-areas:
        "logo superior superior"
        "central central central"
        "inferior inferior inferior";
    grid-template-columns: 20% 1fr auto;
    grid-template-rows: 4em 3fr 5em;
    grid-column-gap: 2px;
    grid-row-gap: 4px;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, .6), rgba(0, 0, 0, .10)), url(../bg.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat
}

.logo {
    grid-area: logo;
    display: flex;
    align-items: center
}

#header-page {
    grid-area: superior;
    border-radius: .4em;
    align-self: center;
    transition: .5s linear;
}
#header-page:hover {
    transition: .5s linear;
}

#main-page {
    grid-area: central;
}

#footer-page {
    grid-area: inferior;
    background: linear-gradient(to bottom, rgba(12, 14, 12, .6), rgba(43, 43, 43, .9));
    display: flex;
    justify-content: center;
    align-items: center;
}

/*estilos para elementos dentro de la etiqueta HEADER
incluidos en orden segun el HTML que los contiene
*/
.logo {
    width: 100%;
}

.logo figure {
    width: 100%;
    height: 5em;
    display: flex;
    align-items: center;
    overflow: hidden
}

.logo figure img {
    width: 100%;
}

.menu {
    display: flex;
    justify-content: center;
    width: 45%;
    margin: 0 auto;
}
.menu a {
    display: inline-block;
    padding: 1em;
    color: rgba(235, 235, 235, .8);
    font-size: 1.2rem;
    transition: .4s ease;
}
.menu a:hover {
    color: rgb(255, 255, 255)
}
.submenu {
    border-radius: 0;
    display: none;
    z-index: 1;
    background: rgba(43, 43, 43, .8);
    transition: .4s ease
}

.submenu a {
    color: #FFFFFF;
    text-align: center;
    padding: 8px;
    margin: 0px auto;
    width: 130px;
    transition: .4s linear;
    transform: scale(.9, .9);
}

.menu li:hover .submenu {
    position: absolute;
    display: block;
}

.submenu a:hover {
    color: rgb(255, 243, 221);
    background: rgba(12, 12, 12, .9);
    transform: scale(1, 1);
}
/*estilos aplicados ccion principal de la pagina index.html
en orden segun el HTML index.html */
.cuandro-central {
    /*padding: 2em 3em;*/
    margin: 0 auto;
    position: relative;
    top: 40%;
    transform: translateY(-40%);
}
.cuandro-central h1 {
    text-shadow: 2px 1px 4px black;
    text-align: center;
    position: relative;
}
.cuandro-central h1 a {
    color: rgb(255, 255, 225);
    font-size: 2.5em;
    text-shadow: 8px 1px 8px black;
}

/* FOOTER */
.about {
    padding: .5em 1em
}

.about p {
    text-align: center;
    padding: 2px;
    color: white;
}

.about p:first-of-type {
    margin-bottom: .6em
}

.about spam {
    color: burlywood;
    font-weight: bold;
    font-family: tahoma;
    letter-spacing: 1px;
}

.about spam::after {
    width: ;
    background: linear-gradient(to right, darkgrey, rgba(240, 150, 80, .6));
    display: block;
    height: .2em;
    border-radius: .2em;
    content: "";
}




@media screen and (max-width: 640px) {
    .grid {
        grid-template-areas:
            "superior superior"
            "central central"
            "inferior inferior";
        grid-template-columns: 20% 1fr auto;
        grid-template-rows: 4em 3fr 5em;
        grid-column-gap: 2px;
        grid-row-gap: 4px;
    }
    .logo,
    .logo figure,
    .logo figure img {
        display: none;
    }
    .menu a {
        padding: .5em
    }
    .cuandro-central h1 a {
        font-size: 2em
    }
}